solveCaptcha*
solveRCaptcha*
AntiCaptchaTrial.ts
getAnticaptchaToken*
node_modules/
test*
tokens*
.DS_STORE
config.json
dist/
result.txt
anticaptcha-extension

/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/