body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
#root,
#root > div,
html {
	height: 100%;
}

.MuiDrawer-paper {
	position: relative !important;
}

.MuiToolbar-gutters {
	padding-left: 16px !important;
}

.MuiDrawer-minimized {
	max-width: 60px;
}

.MuiDrawer-paperAnchorDockedLeft {
	border-right: 0 !important;
}

.MuiListItemIcon-root {
	min-width: 50px !important;
}

.Mui-Chip-colorSuccess {
	background-color: rgba(0, 255, 30, 0.283) !important;
	color: #016d01 !important;
}

.MuiGridListTile-tile {
	margin: 5px;
}

.MuiPaper-elevation1 {
	margin: 1px;
}

@media (min-width: 800px) {
	.MuiContainer-maxWidthMd {
		max-width: 800px;
	}
}

.page.accounts {
	display: flex;
	flex-direction: column;
	height: 92%;
}

.page.accounts .toolbar {
	display: flex;
	overflow-x: auto;
}

.page.accounts .toolbar > * {
	margin: 0 0.3rem;
}

.MuiFormControl-root {
	min-width: 150px !important;
}

.page.accounts .Component-horizontalScrollContainer-34 {
	/* height: 100%; */
}

.indent {
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
	background: none !important;
}

.MuiTreeItem-label:hover {
	background: none !important;
}

.MuiTreeItem-group .MuiCollapse-wrapperInner {
	display: flex;
	flex-direction: column;
}

.MuiTreeItem-root .MuiTreeItem-label,
.MuiFormControlLabel-label {
	font-size: 16px;
}

.MuiTreeItem-root .MuiSvgIcon-root {
	font-size: 1.5rem;
}

.MuiTreeItem-group .MuiSvgIcon-root {
	font-size: 20px;
}

.MuiTreeItem-group .MuiFormControlLabel-label,
.MuiTreeItem-group .MuiInput-input {
	font-size: 16px;
}

.MuiTreeView-root {
	display: flex;
	flex-direction: column;
}

.MuiSnackbar-root {
	width: fit-content;
}

.MuiSnackbar-anchorOriginTopRight {
	left: auto !important;
}

/*
.dialog-add-email 
*/
.MuiDialog-paper {
	min-width: 300px;
}

.page.overview .MuiGridList-root {
	overflow: hidden;
}

.MuiToolbar-gutters {
	padding: 0 !important;
}

.action-progress .status {
	height: 90px;
}
